.hero, footer {
  background-color: #1f2937;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

header a {
  font-size: 18px;
  color: #e5e7eb;
}

header > p {
  font-size: 24px;
  color: #f9faf8;
}